
@{
    ViewBag.Title = "Inicio";
}

<h2>Conta OnLine</h2>

<p>Bem vindo ao sistema de Contas OnLine</p>

<ul class="list-group">
    <li class="list-group-item">
        <a href='@Url.Action("Inicio", "Conta")'>Contas a Pagar e Receber</a>
    </li>
    <li class="list-group-item">
        <a href='@Url.Action("Inicio", "ContaCorrente")'>Conta Corrente</a>
    </li>
    <li class="list-group-item">
        <a href='@Url.Action("Inicio", "ContaCategoria")'>Categorias de Contas</a>
    </li>
    <li class="list-group-item">
        <a href='@Url.Action("Inicio", "Contato")'>Contato</a>
    </li>
</ul>

